* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside {
  background-color: #034967;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
}

.content::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url("assets/img/background/backgroundproject.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  transform: scale(1.2);
}

.game {
  /* Avec ces commandes-ci, l'album entier est capable de rester centrer même en réagrandissant la page */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  background-color: #088dc6;
  width: 700px;
  min-height: 100px;
  border-style: outset;
  border-color: blue;
  border-width: 5px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 20px 20px 5px;
}

h1 {
  color: #036b0e;
  text-shadow: 2px 2px #000000;
  line-height: 35px;
  text-transform: none;
  text-align: center;
  font-size: 50px;
  font-family: "Uncial Antiqua", cursive;
}
.chapter-text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify;
  width: 90%;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  text-align: center;
}

.chapter-img {
  border-radius: 30px;
  width: 100%;
  min-width: 80%;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.btn-panel {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

button {
  line-height: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: chartreuse;
  margin: 5px;
  border-color: red;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  padding: 10px;
  height: 60px;
  width: 10em;
  background-color: #6f0202;
}

button:hover {
  cursor: pointer;
  background-color: red;
}

button:active {
  background-color: crimson;
}



.ico-key {
  display: none;
  width: 30px;
  align-self: start;
}

.isVisible {
  display: block;
}
