* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  /* Avec ces commandes-ci, l'album entier est capable de rester centrer même en réagrandissant la page */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #088dc6;
  width: 700px;
  min-height: 100px;
  border-style: outset;
  border-color: blue;
  border-width: 5px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 20px 20px 5px;
}

h1 {
  color: #036b0e;
  text-shadow: 2px 2px #000000;
  line-height: 35px;
  text-transform: none;
  text-align: center;
  font-size: 50px;
  font-family: "Uncial Antiqua", cursive;
}
.chapter-text {
  margin: 0 auto;
}
p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify;
  width: 75%;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  text-align: center;
}

.chapter-img {
  border-radius: 15px;
  width: 100%;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.btn-panel {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  flex-wrap: wrap;
}

button {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: chartreuse;
  margin: 10px;
  border-color: red;
  border-radius: 300px;
  padding: 10px;
  height: 60px;
  width: 10em;
  background-color: #6f0202;
}

button:hover {
  cursor: pointer;
  background-color: red;
}

button:active {
  background-color: crimson;
}
